# IDE files
.vscode/
.idea/
.vs/
.cache/
.ipynb_checkpoints/

# ROS build files
build/
devel/
install/
log/

# cmake build directory and files
build/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
